*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.content{
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    
    height:100vh ;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    display: flex;
    flex-direction: column;
    height: 450px;
    width: 300px;
    border-radius:20px ;
    background-color: azure;
    justify-content: center;
    align-items: center;
    gap: 15px;
    text-align: center;
}

.card img{

    border-radius: 20px;
    height: 60%;
}

.content2{
    background-color: #85FFBD;
    background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);        
    height:100vh ;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card2{
    display: flex;
    flex-direction: column;
    height: 450px;
    width: 300px;
    border-radius:20px ;
    background-color: azure;
    /* justify-content: center; */
    align-items: center;
    gap: 20px;
    text-align: center;
}

.card2 img{
    /* margin-top: 0; */
    max-height: 30%;
    min-width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.card2 p{
    width: 60%;
}

.pricing{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    /* border: 1px solid black; */
    width: 70%;
    height: 9%;
    background-color: #9bc6f1;
    font-size: 0.5rem;
}


.leftBox{
    width: 70%;
    display: flex;
    gap: 2%;
    flex-direction: row;

    align-items: center;
}
.card2 .leftBox img{
    min-width: 10%;
    max-width: 25%;
    max-height:25%;
}
.leftBox .pricingText{
    width: 50%;

    overflow-x: none;
}
.rigthBox {
    min-width: 30%;
    margin-right: 20px;
    padding-right: 20px;
}

.payment{
    border-radius: 10px;
    /* border: 1px solid black; */
    width: 70%;
    height: 7%;
    background-color: #08335d;
    color: azure;
    display: flex;
    justify-content: center;
    align-items: center;
}

.payment p{
    font-size: 1.1rem;
    font-weight: lighter;
}
a{
    text-decoration: none;
    color: black;
    font-size: 0.9rem;
}

.content3{
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
    
    height:100vh ;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.card3{
    display: flex;
    height:60%;
    width: 60%;
    border: 1px solid black;
    position: relative;
    overflow: hidden;
}
.leftBox3{
    background-color: maroon;
    color: white;
    display: flex;
    padding: 5%;
    gap: 10%;
    /* align-items: center; */
    flex-direction: column;
    max-width: 50%;
}

.rigthBox3{
    /* overflow: hidden; */
    max-height:100%;
    max-width: 50%;
}
#img{
    overflow-x: visible;
    height: 100%;
    width: 100%;
}

.stats{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.card3:hover::before {
    left: 0%; /* Move the overlay to the right edge of the card */
}

.card3::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the overlay color and opacity */
    transition: left 2s ease; /* Add transition for smooth animation */
}